<div id="top-stuff">
  <div id="top-bar-out">
    <div id="container">
      <div id="topnav">
        <form id="logout" action="/logout" method="post">
            <input name="_method" type="hidden" value="delete" />
            <input type="submit" value="Sign Out">
          </form>
      </div>
    </div>
  </div>
</div>

<div class='container' id='map_house'>
  <div class='row'>
    <div class='twelve columns'>
      <div id="map_canvas"></div>
    </div>
  </div>
</div>
