<div id="top-stuff">
  <div id="top-bar-out">
    <div id="container">
      <div id="topnav">

      </div>
    </div>
  </div>
</div>

<div class='container' id='register_form'>
   <div class='row'>
    <div class='twelve columns'>
      <h1>Hidden Treasures!</h1>
      <img id='t-box' src="http://media.merchantcircle.com/37094021/locked%20treasure%20chest_full.jpeg">
    </div>
  <div class='row'>
    <div class='twelve columns'>
      <form method="post" class="register" action="/users">
        <input type='text' name='user[name]' placeholder='Name'>
        <input type='email' name='user[email]' placeholder='Email'>
        <input type='password' name='user[password]'placeholder='Password'>
        <input type='submit' value='Register'>
      </form>
    </div>
  </div>
  <div class='row'>
    <div class='twelve columns'>
      <h1>Sign Up Now for Exciting Features!</h1>
      <h3>Place treasures for your friends to find!</h3>
    </div>

  </div>
</div>