<div id="top-stuff">
  <div id="top-bar-out">
    <div id="container">
      <div id="topnav">
        <div class="active-links">
          <div id="session">
            <a id="signin-link" href="#">
              <em>Have an account?</em>
              <strong>Sign in</strong>
            </a>
          </div>
          <div id="signin-dropdown">

            <form method="post" class="signin" action="/login">
              <fieldset class="textbox">
                <label class="username">
                  <span>Username or email</span>
                  <input id="username" name="email" value="" type="text" autocomplete="on">
                </label>

                <label class="password">
                  <span>Password</span>
                  <input id="password" name="password" value="" type="password">
                </label>
              </fieldset>

              <fieldset class="remb">
                <label class="remember">
                  <input type="checkbox" value="1" name="remember_me" />
                  <span>Remember me</span>
                </label>
                <button class="submit button" type="submit">Sign in</button>
              </fieldset>
              <p>
                <a class="forgot" href="/register">Register/ Sign UP</a>
                <br>
              </p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div id='title_space' class='container'>
  <div class='row'>
    <div class='twelve columns'>
      <h1>Hidden Treasures</h1>
    </div>
  </div>
</div>

<div id='splash_home' class='container'>
  <div class='row'>
    <div class='twelve columns'>
      <img id='fishy' src="http://www.best-florida-beaches.org/images/vero-beach-treasure-chest.jpg">
    </div>
  </div>
</div>

<div class="stage">
  <img src="http://www.clker.com/cliparts/8/9/7/4/11949852571679996656pescetto.svg.med.png" class="ball">
</div>


